gradio
langchain
langchain-google-genai
langchain-community
chromadb
sentence-transformers
pandas
numpy
matplotlib
plotly
seaborn
opendatasets
kaggle
requests
google-ai-generativelanguage
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-common
opentelemetry-proto
